{{ define "main" }}
<content>
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <span>
        <i>
          <time class="post-date" datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
          </time>
        </i>
      </span>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
